table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

.open-button {
    background-color: #2196F3;
    color: white;
    font-size: 15px;
    font-weight: bold;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
}

.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
}

.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
}

.form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

.form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

.form-container .btn {
    background-color: #1976D2;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
    font-size: 15px;
    font-weight: bold;
}

.form-container .cancel {
    background-color: #448AFF;
}

.form-container .btn:hover, .open-button:hover {
    opacity: 1;
}
.brd {

    width: 50%;
    border: 6px;
    background: #f1f1f1;
    color: #2196F3;
    border-radius: 10%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-size: 15px;
}
.brd_comment {
    width: 90%;
    border: 3px;
    background: #f1f1f1;
    color: #2196F3;
    border-radius: 10%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-size: 10px;
}

.titl {
    font-size: 20px;
    margin-left: 25%;
    color: #f1f1f1;
}

.img {
    height: 300px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
